/** GENERAL **/

.btn:hover {
    background-color: #C5EEFF !important;
    color: #006E9C !important;
    text-shadow: 0 0 5px #FFF;
    box-shadow: 0 0 5px #C5EEFF;
}

.small-top-margin {
    margin-top: 2vh !important;
}


/* app */

.btn-radius-50 {
    border-radius: 50px !important;
}

.btn-primary {
    padding: 1vh 1vw !important;
    border-radius: 50px !important;
    background-color: #2FC1FF !important;
    border-width: 0 !important;
}

.color-primary {
    background-color: #2FC1FF !important;
}


/*  NAVIGATION BAR  */

#navbarRPL {
    z-index: 1;
    color: white !important;
    font-size: 20px;
    background-color: #2FC1FF;
    padding: 15px 10px;
    position: fixed;
    width: 100%;
}

.navbar-nav a {
    padding: 0 15px !important;
}

#navbarMenuRPL .navbar-nav img {
    height: 20px;
}

#navbarMenuRPL {
    margin-right: -2.5vw !important;
    z-index: 1;
    float: right;
}

.menuNavbar {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    right: 0px;
}

.containerRPL {
    padding-top: 10vh;
}

.navbar-container {
    z-index: 999 !important;
    width: 100%;
    position: fixed !important;
    align-items: center !important;
}

.navbar-container .container {}

nav .navbar-brand {
    font-size: 2.5rem !important;
    margin: -2vh 0;
    margin-left: -2.5vw;
    font-weight: 600;
}

.navbar-container .container .navbar-nav a,
.navbar-container .container a {
    color: #FFF;
    font-size: 1.25rem;
}

.navbar-container .container .navbar-nav .dropdown-menu a {
    color: #2FC1FF !important;
}


/** FOOTER **/

footer {
    color: white;
    width: 100%;
    margin-top: 20vh;
    height: 10vh;
    background-color: #00577B !important;
}

footer .isi {
    margin-top: 2vh;
    margin-right: 5vw;
    float: right;
}


/**  USER  **/


/* LOG IN */

.login {
    margin-top: 15vh;
    padding: 0 15vw;
}

.login .error {
    background-color: #FFC5C5;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    margin-left: 10vw;
    margin-top: -2.5vh;
}

.login h1 {
    font-size: clamp(50px, 6vw, 70px);
    text-align: center;
    color: #2FC1FF;
    font-weight: 700;
    padding-bottom: 10vh;
}

.login .col h3 {
    color: #2AA7DC;
}

.login .row input {
    margin-bottom: 5vh;
    border-color: #2FC1FF;
    padding: 0.5rem 2rem;
    width: 60vw;
    border-radius: 50px;
}

.login a {
    margin-top: 3vh;
    float: right;
    color: #2AA7DC;
    text-decoration: none;
}

.login .btn {
    margin-left: 23vw;
    position: relative;
    font-size: clamp(20px, 2vw, 75px);
    margin-top: 7vh;
    background-color: #2FC1FF;
    border-radius: 50px;
    color: #FFF;
    width: 25vw;
}

.login .btn:hover {
    color: #FFF;
}


/* SIGN UP*/

.signup {
    margin-top: 5vh;
    padding: 0 15vw;
}

.signup .error {
    background-color: #FFC5C5;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    margin-left: 11vw;
    margin-top: -2.5vh;
}

.signup h1 {
    font-size: clamp(50px, 6vw, 70px);
    text-align: center;
    color: #2FC1FF;
    font-weight: 700;
    padding-bottom: 5vh;
}

.signup .col {
    margin-bottom: 3vh;
}

.signup .col h3 {
    color: #2AA7DC;
    font-size: 1.5rem;
}

.signup .row input {
    border-color: #2FC1FF;
    padding: 0.5rem 2rem;
    width: 58vw;
    border-radius: 50px;
}

.signup .btn {
    margin-left: 23vw;
    color: #FFF;
    position: relative;
    font-size: clamp(20px, 2vw, 75px);
    margin-top: 2.5vh;
    margin-bottom: 10vh;
    background-color: #2FC1FF;
    border-radius: 50px;
    width: 25vw;
}


/* PROFILE */

.profile .alert {
    position: fixed;
    width: 70vw;
    margin-top: -8vh;
    z-index: 999;
    font-weight: 750;
}

.profile {
    margin: 0 auto;
    width: 90vw;
    padding: 5vh 10vw;
    margin-top: 2.5vh;
    color: #006E9C;
}

.profile .card {}

.profile .card-header {
    background-color: #2FC1FF;
    font-size: 2rem;
    font-weight: 750;
    text-align: center;
    color: #FFF;
}

.profile .card .card-body {
    display: flex;
}

.profile .card .card-body .left-side {
    padding: 5vh;
    width: 30%;
}

.profile .card .card-body .left-side img {
    width: 100%;
    border-radius: 50%;
}

.profile .card .card-body .right-side {
    padding: 0 5vh;
    padding-top: 2.5vh;
    width: 70%;
}

.profile .profile-title h1 {
    text-align: center;
    padding-bottom: 2.5vh;
    font-weight: 700;
    color: #2AA7DC;
    box-shadow: 0 5px #2AA7DC;
    margin-bottom: 5vh;
}

.profile .profile-isi {
    display: flex;
}

.profile .left-side {
    width: 50vh;
    height: 50vh;
}

.profile .left-side img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.profile .left-side h4 {
    margin-top: 2vh;
    text-align: center;
}

.profile .right-side p {
    color: #006E9C;
    font-size: 1.25rem;
}

.profile .right-side {
    padding-left: 1vw;
    width: 100%;
}

.profile .profile-button {
    display: flex;
    padding-top: 2.5vh;
}

.profile .profile-button .button {
    width: 100%;
    color: #FFF;
    padding: 1vh 1vw !important;
    margin: 0 1vw;
    font-weight: 650;
    font-size: 1.5rem;
    border-radius: 50px;
    background-color: #2FC1FF;
}


/**  LANDING PAGE  **/


/*  MENU OPENING  */

.menu-opening {
    margin-top: -2.5vh;
    background-color: #C5EEFF;
    height: 73vh;
    max-height: 80vw;
}

.menu-opening h3 {
    font-size: clamp(25px, 3.2vw, 65px);
    padding-top: 10%;
    margin-left: 6vw;
    color: #006E9C;
}

.menu-opening img {
    float: right;
    margin-top: -30vh;
    margin-right: 15vh;
    height: 400px;
}

.menu-opening-button {
    margin-left: 35vw;
    margin-top: 10vh;
    position: relative;
    text-align: center;
    padding: 10px 0;
    border-radius: 50rem;
    background-color: #2FC1FF;
    width: 15vw;
}

.menu-opening-button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
}


/*  MENU BENEFIT  */

.menu-benefit {
    margin-top: 65vh;
    background-color: #C5EEFF;
    height: 80vh;
    width: auto;
}

.menu-benefit h3 {
    text-align: center;
    font-size: clamp(16px, 4vw, 65px);
    padding-top: 10%;
    margin-left: 6vw;
    color: #006E9C;
}

.menu-benefit .row {
    width: 99vw;
    text-align: center;
    align-items: center;
    background-color: #C5EEFF;
}

.menu-benefit .col {
    font-size: 2vw;
    margin-top: 15vh;
    color: #006E9C;
}

.menu-benefit .col h5 {
    margin-top: 3vh;
    font-weight: 500;
}


/*  MENU ORDER  */

.menu-order {
    margin-top: 65vh;
    background-color: #C5EEFF;
    height: 600px;
}

.menu-order h3 {
    text-align: center;
    font-size: 3.2vw;
    padding-top: 5%;
    margin-left: 6vw;
    color: #006E9C;
}


/*  MENU CLOSING  */

.menu-closing {
    margin-top: 50vh;
    background-color: #00577B;
    height: 100px;
}

.menu-closing p {
    color: #FFF;
}


/**  HOME MAIN  **/

.home_main {
    margin-top: -1.5vh;
}

.hidden {
    display: none;
}

.home_main .alert {
    background-color: #C5FFCB;
    z-index: 1;
    font-weight: 650;
    text-align: center;
    width: 50vw;
    position: fixed;
    margin: 10vh 25vw;
}

.home_main .carousel-item img {
    object-fit: cover;
    height: 60vh;
}

.home_main h1 {
    margin-top: 4vh;
    margin-bottom: 30vh;
    color: #2AA7DC;
    text-align: center;
    font-weight: 650;
}

.home_main .title-jurusan {
    color: #006E9C;
    margin-left: 14vw;
    margin-top: 10vh;
}

.home_main .jurusanTugas {
    margin-top: 5vh;
    color: #006E9C;
    margin-left: 10vw;
    width: 80vw;
    border-radius: 10px;
    background-color: #C5EEFF;
}

.home_main .jurusanTugas .item {
    border-radius: 2vh;
    text-decoration: none;
    color: #006E9C;
    width: 14.6%;
    margin: 1%;
}

.home_main .jurusanTugas .item:hover {
    margin-top: 1vh;
    box-shadow: 0 1vh 5px #2FC1FF;
}

.home_main .jurusanTugas .item .q {
    height: 20vh;
}

.home_main .jurusanTugas .item img {
    border-radius: 50px;
    margin-top: 2vh;
    width: 100%;
    height: 100%;
}

.home_main .jurusanTugas .item h4 {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 0;
    font-size: 1rem;
}


/**  DETAIL TUGAS  **/


/* CONTAINER-DETAILTUGAS */

.container-detailTugas {
    margin: 4vh 5vw;
}

.container-detailTugas .alert {
    margin: 0 auto;
    margin-top: 15vh;
    position: fixed !important;
    width: 70vw;
    margin-top: -8vh;
    z-index: 999;
    font-weight: 750;
    margin-left: 10vw;
}

.container-detailTugas .left-side {
    margin-right: -20vw;
}

.container-detailTugas .left-side img {
    width: 30vw;
}

.container-detailTugas .right-side {}

.container-detailTugas .right-side h1 {
    font-weight: 700;
    color: #2AA7DC;
    font-size: 3rem;
}

.container-detailTugas .right-side h4,
.container-detailTugas .right-side h5 {
    color: #006E9C;
}

.container-detailTugas .right-side p {
    color: #006E9C;
    font-size: 1.25rem;
    margin-top: 5vh;
}

.container-detailTugas .right-side .harga {
    font-weight: 700;
}

.container-detailTugas .right-side .btn {
    min-width: 150px;
    width: 15vw;
    padding: 1vh 0;
    margin: 0 1vw;
    margin-top: 5vh;
    font-size: 2rem;
    color: #FFF;
    border-radius: 50rem;
    background-color: #2FC1FF;
    float: right;
}

.container-detailTugas .right-side .user-on .button-hapus {
    background-color: #FF2F2F !important;
}

.container-detailTugas .right-side .user-on .modal {
    margin-top: 25vh;
}

.container-detailTugas .right-side .user-on .modal .modal-footer .btn {
    padding: 0;
    margin-top: 0 !important;
    width: fit-content;
}

.container-detailTugas .q {}

.container-detailTugas .w {
    margin-top: 6vw;
}

.container-detailTugas .e {
    margin-top: 6vw;
}

.right-side .user-on {}

.container-detailTugas .contact {
    color: #2AA7DC;
    text-align: center;
    margin-top: 20vh;
}

.container-detailTugas .contact-isi {
    display: flex;
    margin-top: 10vh;
    background-color: #C5EEFF;
    border-radius: 50px;
    padding: 2.5vh;
    margin-bottom: 10vh;
}

.container-detailTugas .contact-isi a {
    text-decoration: none;
    color: #2AA7DC;
}

.container-detailTugas .contact-isi a:hover {
    text-shadow: 0 0 5px #2AA7DC;
}

.container-detailTugas .contact-isi img {
    width: 100%;
}

.container-detailTugas .contact-isi .left img {
    border-radius: 50%;
    width: 100%;
}

.container-detailTugas .contact-isi .left {
    padding: 2vh;
    width: 30%;
}

.container-detailTugas .contact-isi .middle {
    padding: 5vh;
    text-align: start;
    width: 80%;
}

.container-detailTugas .contact-isi .middle h1 {
    font-size: 3rem;
}

.container-detailTugas .contact-isi .middle h3 {
    color: #006E9C;
}

.container-detailTugas .contact-isi .right {
    width: 9%;
    margin-right: 1vw;
}

.container-detailTugas .contact-isi .right .first {
    margin-top: 0 !important;
}

.container-detailTugas .contact-isi .right .pot {
    margin-top: 2.5vh;
    background-color: #2FC1FF;
    padding: 2.5vh;
    border-radius: 50%;
}

.container-detailTugas .contact-isi .right .pot:hover {
    background-color: #2AA7DC;
    box-shadow: 0 0 25px #FFF;
    padding: 2vh;
}

.container-detailTugas .contact-isi .right .disabled {
    background-color: #006E9C;
}

.container-detailTugas .contact-isi .right .disabled:hover {
    background-color: #006E9C;
    box-shadow: none;
    padding: 2.5vh;
}

.container-detailTugas .contact-isi .right img {}


/* CARI TUGAS */

.cariTugas {
    margin-top: -1.5vh;
}

.cariTugas .clickItem {
    color: #FFF;
    text-decoration: none;
}

.cariTugas .left-side,
.cariTugas .right-side {
    padding-top: 5vh;
}

.cariTugas .left-side {
    padding-top: 5vh;
    text-align: center;
    color: #FFF;
    background-color: #2AA7DC;
    width: 25vw;
    position: fixed;
    height: 100vh;
}

.cariTugas .left-side .item {
    margin-top: 3vh;
}

.cariTugas .left-side h2 {
    font-size: 1.5rem;
    margin: 0 4vw;
    margin-bottom: 2vh;
    text-align: start;
}

.cariTugas .left-side form {
    margin-top: 1vh;
}

.cariTugas .left-side .textinput {
    padding: 0.5vh 1vw;
    border-radius: 50px;
    border-width: 0;
    border-color: #2FC1FF;
}

.cariTugas .left-side .textinput:focus {
    border-width: 0px !important;
    box-shadow: 0 0 5px #FFF;
}

.cariTugas .left-side .buttoninput {
    background-color: #2AA7DC;
    border-width: 0;
}

.cariTugas .left-side .buttoninput img {
    width: 75%;
}

.cariTugas .left-side .buttonHolder .first {
    margin-top: 5vh;
}

.cariTugas .left-side .btn {
    width: 50%;
    margin-top: 2.5vh;
    color: #FFF;
    padding: 1vh 2vw;
    font-weight: 650;
    font-size: 1.5rem;
    border-radius: 50px;
    background-color: #2FC1FF;
}

.cariTugas .right-side {
    padding-left: 5vw;
    margin-right: 2vw;
    margin-left: -25vw;
}

.cariTugas .right-side .isi {
    width: 100% !important;
}

.cariTugas .judul {
    text-align: center;
    color: #2AA7DC;
    font-weight: 650;
    margin-bottom: 5vh;
}

.cariTugas .item .item-judul,
.cariTugas .item .item-isi {
    padding: 1vw;
}

.cariTugas .right-side .item {
    padding: 0.5vw;
    display: flex;
    border-radius: 1rem;
    background-color: #C5EEFF;
    margin-bottom: 2vh;
}

.cariTugas .right-side .item .container-image {
    height: fit-content;
    margin: auto 0 !important;
    width: 30%;
    height: 30vh;
    padding: 1vh;
}

.cariTugas .right-side .item .container-image img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cariTugas .right-side .alert {
    font-weight: 650;
}

.cariTugas .right-side .item-judul {
    color: #00577B;
    width: 100%;
    display: flex;
}

.cariTugas .right-side .item-isi p {
    color: #006E9C;
}

.cariTugas .right-side .item-judul-right,
.cariTugas .right-side .right {
    text-align: end;
    margin-left: auto;
    margin-right: 0;
}

.cariTugas .right-side .item-info {
    margin-top: 5vh;
    color: #006E9C;
    display: flex;
}

.cariTugas .row {
    width: 100%;
}

.hover-zoom:hover {
    margin: -0.5vw !important;
    margin-bottom: 1vw !important;
    box-shadow: 2.5px 2.5px 5px silver !important;
}

.hover-shadow:hover {
    color: #FFF;
    text-shadow: 0 0 5px #FFF;
}

.margin-5 {
    margin: 5vh 0;
}

.margin-10 {
    margin: 10vh 0;
}


/**  BUAT TUGAS  **/

.buatTugas .btn {
    margin-bottom: 10vh;
}


/** EDIT TUGAS **/

.container-edit .container-input {
    width: fit-content;
    margin-top: 2.5vh;
    margin-left: 5vw;
}

.container-edit .edit-textinput-p,
.container-edit .edit-textinput-h1,
.container-edit .edit-textinput-desc,
.container-edit .edit-textinput-dl {
    border-width: 0;
    outline: none !important;
}

.container-edit .edit-textinput-p:focus,
.container-edit .edit-textinput-h1:focus,
.container-edit .edit-textinput-desc:focus,
.container-edit .edit-textinput-dl:focus {
    text-shadow: 0 0 2.5px #006E9C;
}

.container-edit .edit-textinput-h1 {
    font-weight: 700;
    color: #2AA7DC;
    font-size: 3rem;
}

.container-edit .edit-textinput-desc {
    color: #006E9C;
    font-size: 1.25rem;
    width: 50vw;
}

.container-edit .e {}

.container-edit .edit-textinput-p {
    width: 10vw;
}

.container-edit .edit-textinput-dl {
    width: 20vw;
}

.container-edit .edit-textinput-p,
.container-edit .e,
.container-edit .edit-textinput-dl {
    color: #006E9C;
    font-size: 1.25rem;
    font-weight: 700;
}


/** EDIT PROFILE **/

.profile .card .card-body input {
    width: 80%;
}

.profile .card .card-body input,
.profile .card .card-body span {
    outline: none !important;
    color: #006E9C;
    border-width: 0;
    font-size: 1.25rem;
    margin-bottom: 2vh;
}

.profile .card .card-body input:focus {
    text-shadow: 0 0 2.5px #006E9C;
}

.edit .card .card-body .left-side .container-input {
    margin-top: 2.5vh;
}

.edit .card .card-body .left-side .container-input input {
    margin: 0 auto;
    font-size: 1rem;
    width: 100%;
}


/** KONFIRMASI TUGAS **/

.container-konfirmasiTugas {
    padding: 10vh;
}

.container-konfirmasiTugas .alert {
    font-weight: 750;
}

.container-konfirmasiTugas h2 {
    font-weight: 650;
    margin-top: -2.5vh !important;
    color: #2FC1FF;
    text-align: center;
    margin-bottom: 5vh;
}

.container-konfirmasiTugas th {
    color: #2FC1FF;
}

.container-konfirmasiTugas td {
    color: #2AA7DC;
}

.container-konfirmasiTugas img {
    height: 5vh;
}

.container-konfirmasiTugas .buttonKonfirmasi {
    display: flex;
}

.container-konfirmasiTugas .buttonKonfirmasi .final-btn {
    background-color: #4CFF2F;
    color: #FFF;
    border-color: #19AF00;
}

.container-konfirmasiTugas .buttonKonfirmasi .final-btn:hover {
    background-color: #19AF00 !important;
    color: #FFF !important;
    border-color: #4CFF2F !important;
}


/** KIRIM TUGAS **/

.container-kirimTugas {
    padding: 10vh;
    color: #2AA7DC;
}

.container-kirimTugas h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 650;
}

.container-kirimTugas .kirimTugas-isi {
    text-align: center;
    padding: 0 15vw;
    margin-top: 5vh;
}

.container-kirimTugas .kirimTugas-isi .pertanyaan {
    float: right;
    width: fit-content;
    margin: 2.5vh 0;
}

.container-kirimTugas .kirimTugas-isi .pertanyaan span {
    font-size: 1.25rem;
}

.container-kirimTugas .kirimTugas-isi .pertanyaan input {
    padding-left: 2.5vw;
    width: 50vw;
    font-size: 1.25rem;
    margin-left: 2.5vw;
    border-radius: 50px;
    float: right;
    border-color: #2FC1FF;
}

.container-kirimTugas .kirimTugas-isi .pertanyaan input:focus {
    outline: none;
    border-color: #2FC1FF;
    box-shadow: 0 0 5px #2FC1FF;
}

.container-kirimTugas .kirimTugas-isi button {
    font-size: 1.5rem;
    width: 20%;
    padding: 1vh !important;
    margin-top: 5vh;
}


/** LIHAT TUGAS **/

.container-lihatTugas {
    color: #2AA7DC;
}

.container-lihatTugas h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10vh;
    font-weight: 650;
}

.container-lihatTugas .card .card-body {
    padding-left: 5vw;
    display: block;
}

.container-lihatTugas .card .card-body p {
    font-size: 1.5rem;
}

.container-lihatTugas .card .card-body .lihatTugas-isi {
    padding: 5vh 0;
}

.container-lihatTugas .card .card-body .lihatTugas-isi p {
    color: #006E9C;
    padding: 1vh 0;
}

.container-lihatTugas .card .card-body .lihatTugas-isi a {
    color: #006E9C;
    text-decoration: none;
}

.container-lihatTugas .card .card-body .lihatTugas-button {
    background-color: aquamarine;
}

.container-lihatTugas .card .card-body .lihatTugas-button button {
    float: right;
    font-size: 1.5rem;
    padding: 1vh 5vw !important;
    margin-right: 5vw;
}